.card {
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(182, 175, 175, 0.2);
  transition: 0.3s;
}

.card-body {
  font-size: 16px;
}

.list1{
  font-weight: 500;
}

.list2{
  color: gold;
  font-weight: 500;
}