.body {
  background: #3b3c36;
  background-position: center;
  min-height: 100vh;
  min-width: 200vh;
  background-size: cover;
}

/* .heading {
  color: wheat;
  font-weight: bolder;
  padding-top: 2vh;
  margin-left: 95vh;
  font-size: 6.5vh;
} */

/* .text-center {
  color: white;
  padding-top: 10vh;
  font-weight: bolder;
  font-size: 10vh;
} */
