.body {
  background-color: #3b3c36;
  background-position: center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.noRecords{
  color: grey;
  font-size: 32px;
  font-weight: 500;
}

.row{
  --bs-gutter-x:0;
}

.icon img,svg{
  vertical-align: baseline;
  cursor: pointer;
  font-size: 20px;
}

.records{
  color: wheat;
  font-size: 30px;
  display: flex;
  justify-content: center;
}