.cover {
  background: #3b3c36;
  background-position: center;
  height: 110vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.head {
  margin-left: 35vh;
  color: wheat;
  font-weight: bolder;
}
