.cover {
  background: #3b3c36;
  background-position: center;
  min-height: 110vh;
  min-width: 200vh;
  background-size: cover;
}

.head {
  margin-left: 35vh;
  color: wheat;
  font-weight: bolder;
}

.btn1 {
  margin-left: 35vh;
  color: wheat;
  font-weight: bolder;
  font-size: 6vh;
  background-color: #3b3c36;
  border-color: #3b3c36;
}

.btn2 {
  margin-left: 100vh;
  color: wheat;
  font-weight: bolder;
  font-size: 6vh;
  background-color: #3b3c36;
  border-color: #3b3c36;
}

.btn2:hover {
  box-shadow: 0 8px 16px 0 rgba(102, 100, 100, 0.3);
}

.btn1:hover {
  box-shadow: 0 8px 16px 0 rgba(102, 100, 100, 0.3);
}

.mt-2 {
  color: grey;
  margin-left: 12vh;
  margin-right: 12vh;
}

.countdown {
  color: wheat;
  margin-top: 2vh;
  margin-left: 12vh;
}

.form-control {
  width: 190vh;
  margin-left: 12vh;
  margin-top: 3vh;
  margin-bottom: 4vh;
}

.restart_btn1 {
  font-size: 4vh;
  margin-left: 80vh;
  border-color: wheat;
  color: wheat;
  border-radius: 0.7vh;
  background-color: #3b3c36;
}

.restart_btn2 {
  font-size: 4vh;
  margin-left: 100vh;
  border-color: wheat;
  color: wheat;
  border-radius: 0.7vh;
  background-color: #3b3c36;
}

.add_btn {
  font-size: 4vh;
  margin-left: 10vh;
  border-color: wheat;
  color: wheat;
  border-radius: 0.7vh;
  background-color: #3b3c36;
}

.add_btn:hover {
  box-shadow: 0 8px 16px 0 rgba(190, 185, 185, 0.3);
}

.restart_btn1:hover {
  box-shadow: 0 8px 16px 0 rgba(190, 185, 185, 0.3);
}

.restart_btn2:hover {
  box-shadow: 0 8px 16px 0 rgba(190, 185, 185, 0.3);
}
