.cover {
  background: #3b3c36;
  background-position: center;
  height: 100vh;
  width:100vw;
  background-size: cover;
}

.heading{
  color: wheat;
  font-size: 30px;
}

.icon img,svg{
  vertical-align: baseline;
  cursor: pointer;
  font-size: 20px;
}

.wordarea {
  color: grey;
}

.countdown {
  color: wheat;
  font-size: 2vw;
}

.form-control {
  width: 90vw;
}

.button {
  font-size: 18px;
  border:1px solid wheat;
  color: wheat;
  background-color: #3b3c36;
}

.result{
  color: grey;
  font-size: 28px;
  font-weight: 500;
}

.answer{
  color: wheat;
  font-size: 22px;
  font-weight: 500;
}